<form action="/addlink" method="post">
    <p>Name: <input name='name' type='text'></p>
    <p>URL: <input name='url' type='text'></p>
    <p>Description: <input name='description' type='text'></p>
    <p>Tags (separate each with a comma): <input name='tags' type='text'></p>
    <p><input type="submit" name='save' value='save'></p>
  </form>
