<form action="/addlink" method="post">
    Name: <input name='name' type='text'>
    URL: <input name='url' type='text'>
    Description: <input name='description' type='text'>
    Tags (separate each with a comma): <input name='tags' type='text'>
    <input type="submit" name='save' value='save'>
  </form>
