<html>

  <head>
    <title>Bookmark Manager</title>
      <link rel="stylesheet" type="text/css" href="/css/reset.css">  
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
  </head>

  <body>
    <div class = "wrapper">
    <header>
      <h1 id="logo">Bookmark Manager</h1>
      <nav>
        <% if current_user %>
          <a href='/addlink' class="add-link">Add link</a>
        <% end %>
        <ul id="user-links">
          <li><a href='/users/new'>Sign up</a></li>
          <li><a href='/sessions/new'>Sign in</a></li>
        </ul>
      </nav>
    </header>
    <% if current_user %>
      <section id="welcome-message">
        Welcome, <%= current_user.email %>  
      </section>
    <% end %>
    <% if current_user %>
      <form id="sign-out" method="post" action="/logout">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign out">
      </form>
    <% end %>
    <% if flash[:notice] %>
      <section id="notice">
        <%= flash[:notice] %>
      </section>
    <% end %>
    <%= yield %>
    <div class="push"></div>
  </div>
    <footer>
      <a href="http://www.makersacademy.com/">
      <img src="http://www.makersacademy.com/assets/logo.png">
      </a>
      <p>
      I built this page at 
      <a href="http://www.makersacademy.com">Makers Academy,
      a highly selective 12 week coding course in London</a>.
    </p>
    <p>
      This website is built using Ruby, Sinatra, 
      RSpec, Capybara, HTML and CSS.
    </p>
    </footer>
  </div>
  </body>
</html>

