<html>

  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <header>Bookmark Manager

        <a href='/addlink'>Add link</a>
        <a href='#'>Sign up</a>
        <a href='#'>Sign in</a></header>
    <%= yield %>
    <footer>Makers Academy
      I built this page at Makers Academy</footer>
  </body>

</html>

