<section id="flash-container">
  <% if flash[:errors] && !flash[:errors].empty? %>
    <ul id="errors">
      <% flash[:errors].each do |error| %>
        <li class="flash error"><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</section>

<h1>Please sign in.</h1>
<br>

<form method="post" action="/sessions">
  <p>
    <input type="text" name='email' placeholder="Email address">
  </p>
  <p>
    <input type="password" name='password' placeholder="Password">
  </p>
  <p>
    <input type="submit" value="Sign in" class="button">
  </p>
</form>