<section id="flash-container">  
  <% if flash[:errors] && !flash[:errors].empty? %>
    <ul id="errors">
      <% flash[:errors].each do |error| %>
        <li class="flash error"><%= error %></li>
      <% end %>
    </ul>
  <% end %>
</section>

<h1>Please sign up:</h1>
<br>

<form action="/users" method="post">
  <p>
    <input name="email" type="text" value="<%= @user.email %>" placeholder="Email address">
  </p>
  <p>
    <input name="password" type="password" placeholder='Password'>      
  </p>
  <p>
    <input name="password_confirmation" type="password" placeholder="Password confirmation">  
  </p>
  <p>
    <input type="submit" value="Sign up" class='button'>
  </p>
</form>